<p style="color: green"><%= notice %></p>

<%= render @clone %>

<div>
  <%= link_to "Edit this clone", edit_clone_path(@clone) %> |
  <%= link_to "Back to clones", clones_path %>

  <%= button_to "Destroy this clone", @clone, method: :delete %>
</div>
